<link rel="stylesheet" href="/public/css/style.css" />

<nav>
  <div>
    <img src="/public/images/logo.png" alt="logo" />
  </div>

  <ul>
    <%if(userAuth){%>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="#">Posts</a>
    </li>
    <li>
      <a href="/api/users/profile">Profile</a>
    </li>
    <li>
      <a href="#" class="create-post-btn">New Post</a>
    </li>
    <li>
      <a href="/api/users/logout">Logout</a>
    </li>
    <%}else{%>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="#">Posts</a>
    </li>
    <li>
      <a href="/api/users/login">Login</a>
    </li>
    <li>
      <a href="/api/users/register">Register</a>
    </li>
    <%}%>
  </ul>
</nav>
